:root {
  --color-purple: #a78ac9;
  --color-pink: rgb(250, 132, 179);
  --color-grey: #484848;
  --color-dark: #1b1b1b;
  --height-floor: 3.125rem;
}

* {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
}

body,
.game-over-pop-up {
  background: var(--color-purple);
}

.title {
  color: var(--color-dark);
  font-size: 2.5rem;
  text-align: center;
  margin: 1.5625rem;
}

.title,
.game-over-title,
.play-again-button {
  color: var(--color-dark);
}

.game-board,
.game-over-pop-up,
.play-again-button button {
  border-radius: 1.25rem;
}

/* GAME CONTAINER */

.game-board {
  border: 0.625rem solid var(--color-grey);
  position: relative;
  height: 31.25rem;
  width: 70%;
  margin: 0 auto;
  overflow: hidden;
  background-image: url(./images/background.gif);
  background-repeat: no-repeat;
  background-size: cover;
}

.block {
  position: absolute;
  bottom: 0;
  width: 4.375rem;
  margin-bottom: var(--height-floor);
  animation: block-animation 1.8s infinite linear;
}

.cat {
  position: absolute;
  bottom: 0;
  left: 5rem;
  width: 10.625rem;
  margin-bottom: var(--height-floor);
  animation: none;
  opacity: 1;
}

.red-bird {
  position: absolute;
  top: 0.625rem;
  width: 6.25rem;
  animation: red-bird-animation 15s infinite linear;
}

.white-bird {
  position: absolute;
  top: 3.125rem;
  width: 5rem;
  animation: white-bird-animation 25s infinite linear;
}

.floor {
  background: var(--color-grey);
  position: absolute;
  bottom: 0;
  width: 100%;
  height: var(--height-floor);
}

.instructions {
  color: #fff;
  font-size: 0.8125rem;
  text-align: center;
  margin-top: 1.25rem;
}

/* GAME OVER */

.hidden {
  display: none;
}

.game-over-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.game-over-pop-up {
  border: 0.1875rem solid var(--color-grey);
  width: auto;
  height: auto;
  padding: 1.875rem;
}

.game-over-title {
  font-size: 1.5625rem;
  text-align: center;
}

#score {
  color: var(--color-grey);
  font-size: 1.25rem;
  text-align: center;
  padding-top: 0.625rem;
}

.play-again-button {
  display: flex;
  align-items: center;
  justify-content: center;
}

.play-again-button button {
  font-size: 0.75rem;
  background-color: var(--color-pink);
  margin-top: 1.25rem;
  padding: 0.625rem 0.9375rem;
  cursor: pointer;
  box-shadow: 0 0.5rem #484848;
  transition: translate 0.3s ease-in-out;
}

.play-again-button button:active {
  box-shadow: 0 0.3125rem var(--color-dark);
  transform: translateY(0.25rem);
}

.play-again-button button:hover {
  background-color: rgb(247, 163, 196);
}

/* ANIMATIONS */

.jump {
  animation: jump 900ms ease-out;
}

@keyframes jump {
  0% {
    bottom: 0;
  }

  40% {
    bottom: 8.125rem;
  }

  50% {
    bottom: 8.125rem;
  }

  60% {
    bottom: 8.125rem;
  }

  100% {
    bottom: 0;
  }
}

@keyframes block-animation {
  0% {
    right: -5rem;
  }

  /* delay entre o loop da animação*/
  30% {
    right: -5rem;
  }

  100% {
    right: 100%;
  }
}

@keyframes ghost-floating-animation {
  0% {
    bottom: 0;
  }

  50% {
    /* delay entre o loop da animação*/
    bottom: 1rem;
  }

  100% {
    bottom: 0;
  }
}

@keyframes red-bird-animation {
  0% {
    right: -5rem;
  }

  50% {
    /* delay entre o loop da animação*/
    right: -5rem;
  }

  100% {
    right: 100%;
  }
}

@keyframes white-bird-animation {
  0% {
    right: -5rem;
  }

  /* delay entre o loop da animação*/
  80% {
    right: -5rem;
  }

  100% {
    right: 100%;
  }
}

/* CREDITS */

.credits * {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0.5rem;
}

.credits p {
  color: var(--color-dark);
  font-size: 0.625rem;
  opacity: 0.7;
  margin: 0.625rem;
  white-space: pre-line;
  text-align: right;
}

.github-logo {
  opacity: 0.6;
  width: 3.125rem;
  margin-bottom: 2rem;
}

.github-logo:hover {
  opacity: 0.9;
  transform: scale(1.05);
}
